/*------------------------------------
Page layout
------------------------------------*/

* {
	box-sizing: border-box;
	margin: 0;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0%;
	font-family: 'Josefin Sans', sans-serif;
}

button {
	margin-left: 20px;
	margin-top: 4px;
	display: flex;
	justify-content: center;
	height: 30px;
	width: 100px;
	border: 1px solid black;
	font-weight: bold;
	float: left;

	cursor: pointer;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -moz-transition: all 0.1s;
 	-khtml-transition: all 0.1s;
 	-webkit-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
}

button:hover {
	width: 108px;
	height: 34px;
}

button:active {
	width: 103px;
	height: 31px;
}

.outerMenuContainer {
	height: 150px;
	width: 650px;
	display: flex;
	z-index: 1;
	position: fixed;
	pointer-events: none;
}

.innerMenuContainer {
	height: 90%;
	width: 85%;
	z-index: 1;
	pointer-events: auto;

	position: relative;
	display: flex;
	flex-direction: column;
}

.toolBoxContainer {
	height: 70%;
	width: 100%;
	z-index: 1;
}

.toolBox {
	height: 100%;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	border: 2px solid #B8C5D6;
	border-top: none;
	border-left: none;
	z-index: 1;
	box-sizing: content-box;
	box-shadow: 1px 1px 2px #707070;
}

#vertexTools {
	background-color: #30BCED;
}

#edgeTools {
	background-color: #DB5461;
}

#graphTools {
	background-color: #5FAD56;
}

.toolTabContainer {
	width: 100%;
	height: 25%;
	position: relative;
	display: flex;
	justify-content: space-around;
	pointer-events: none;
}

.toolTab {
	width: 30%;
	height: 100%;
	border-radius: 0 0 3px 3px;
	box-shadow: 1px 1px 2px #707070;
	position: relative;
	padding-top: 5px;

	border: 2px solid #B8C5D6;
	border-top: none;

	pointer-events: auto;

	cursor: pointer;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: center;

    -moz-transition: background 0.5s ease-out;
 	-khtml-transition: background 0.5s ease-out;
 	-webkit-transition: background 0.5s ease-out;
	-o-transition: background 0.5s ease-out;
	transition: background 0.5s ease-out;
}

#vertexTab {
	background-color: #30BCED;
	z-index: 2;
}

/*#vertexTab:hover {
	background: #30BCED;
    background: -webkit-linear-gradient(#30BCED, #238db2);
    background: -o-linear-gradient(#30BCED, #238db2);
    background: -moz-linear-gradient(#30BCED, #238db2);
    background: linear-gradient(#30BCED, #238db2);
    background-color: #238db2;
}*/

#edgeTab {
	background-color: #DB5461;
	z-index: 0;
}

/*#edgeTab:hover {
	background: #DB5461;
    background: -webkit-linear-gradient(#DB5461, #993a43);
    background: -o-linear-gradient(#DB5461, #993a43);
    background: -moz-linear-gradient(#DB5461, #993a43);
    background: linear-gradient(#DB5461, #993a43);
    background-color: #993a43;
}*/

#graphTab {
	background-color: #5FAD56;
	z-index: 0;
}

/*#graphTab:hover {
	background: #5FAD56;
    background: -webkit-linear-gradient(#5FAD56, #41773a);
    background: -o-linear-gradient(#5FAD56, #41773a);
    background: -moz-linear-gradient(#5FAD56, #41773a);
    background: linear-gradient(#5FAD56, #41773a);
    background-color: #41773a;
}*/

.toggleMenuButtonContainer {
	width: 15%;
	height: 100%;

	z-index: 1;
	position: relative;
	display: flex;
	align-items: flex-start;

	/*background-color: purple;*/
}

.toggleMenuButton {
	height: 25%;
	width: 50%;
	/*background-color: orange;*/
	/*align-self: middle;*/
	pointer-events: auto;
	display: flex;
	padding-top: 4px;
	padding-left: 8px;

	-moz-transition: all 0.5s;
 	-khtml-transition: all 0.5s;
 	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.toggleMenuButton:hover {
	height: 30%;
	width: 55%;
}

.toggleMenuButton:active {
	height: 23%;
	width: 48%;
}

.toggleMenuButton img {
	align-self: middle;
	max-height: 100%;
	max-width: 100%;
	cursor: pointer;
}

.wasteContainer { /* should be fixed at some point */
	height: auto;
	width: 100%;
	pointer-events: none; 
}

#clearButton {
	background-color: red;
}

#bipartiteButton{
	animation-name:redflash;
    animation-duration:1.5s;
    animation-iteration-count:infinite;
    animation-play-state:paused;
}

#mainCanvas {
	position: absolute;
	z-index: 0;
	-moz-user-select: -moz-none;
 	-khtml-user-select: none;
 	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;

	cursor: default;
}

@keyframes redflash{
    50%  {background-color: red;}
}

